// MAIN STYLESHEET -- style.scss

// Imports ***********************
@import 'reset';
@import 'colors';
@import 'unsemantic/unsemantic-grid-responsive-tablet-no-ie7';
* {
	box-sizing: border-box;
	font-family: lato, sans-serif;}

// MISC Mixins *******************
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

body {text-rendering: optimizeLegibility}

// Main block components *********
section {position: relative;}

footer {}
.triangle {
	position: absolute;
	bottom: 0;
	z-index: 2;
	width: 100%;
	.big {z-index: 2;position: absolute;bottom: 0;width: 50%; max-width: 600px;}
	.small {z-index: 2;position: absolute;bottom: 0;width: 20%; max-width: 250px;}
	}

// Header ***********************
header {
	position: relative;
	padding-top: 225px;
	@media (max-width: 767px) {padding-top: 50px;}
	background-image: url('../img/header_b.jpg');
	-webkit-background-size: cover;	
	background-size: cover;
	background-position: 50% 100%;
	.triangle {
		left: 0;
		.big {left: 0;}
		.small {left: 0;}
	}
}

#hero {
	position: relative;
	z-index: 4;
	font-family: lato, sans-serif;
	color: white;
	font-size: 12px;
	padding: 0;
	@media (max-width: 767px) {max-width: 450px; margin: 0 auto;}
	.text {
		float: left;
		text-transform: uppercase;
		@media (max-width: 360px) {text-shadow: 1px 1px black;}}
	h2 {
		font-size: 3em; 
		@media (max-width: 767px) {font-size: 2.5em;}}
	h3 {
		font-size: 4em;font-weight: 600; 
		@media (max-width: 767px) {font-size: 3.5em;}}
	img {
		height: 100%;
		//position: absolute;
		float: right;
		height: 13em;
		right: 0;
		top: 0;
		@media (max-width: 767px) {height: 11em;}
		@media (max-width: 370px) {float: none;}
	}
	a {
		display: block;
		margin: 125px auto 100px auto;
		width: 7em;
		text-transform: uppercase;
		font-size: 18px;
		height: 2.5em; line-height: 2.5em;
		z-index: 5;
		text-decoration: none;
		border-radius: 4px;
		border: 1px white solid;
		padding: 0 1em;
		background-color: none;
		text-align: center;
		color: white;
		-webkit-transition: .2s all;
		-moz-transition: .2s all;
		-ms-transition: .2s all;
		-o-transition: .2s all;
		transition: .2s all;
		&:hover {background-color: white; color: #164416;}
	}
}

// Intro **************************
#intro {
	position: relative;
	padding: 200px 0;
	height: 600px;
	background-color: $lightgrey;
	.date {
		position: absolute;
		top: 0;
		right: 0;
		background-image: url('../img/whitetriangle.png');
		background-size: contain;
		background-position: 50% 0%;
		background-repeat: no-repeat;
		max-width: 600px;
		width: 60%;
		height: 300px;
		@media (max-width: 767px) {height: 150px; width: 100%;}
		time {
			z-index: 4;
			display: block;
			position: relative;
			top: 30%;
			@media (max-width: 1024px) {top: 20%;}
			@media (max-width: 767px) {top: 10%;}
			margin: 0 auto;
			font-family: lato, sans-serif;
			text-transform: uppercase;
			font-size: 32px;
			width: 100%;
			text-align: center;
			.month {color: $basegreen; padding-left: 1em;}
			.day {color: $basegreen;
				sup {position: relative; top: -1.2em; font-size: 40%;}}
			.year {color: $darkgrey;}
		}
	}
	article {
			font-family: lato, sans-serif;
			color: $darkgrey;
			z-index: 5 !important;
			h2 {
				z-index: 5;
				font-weight: 700;
				font-size: 2em;
				margin-bottom: 2em;}
			p {
				z-index: 5;
				font-size: 1.5em;
				line-height: 1.2em;
				font-weight: 300;}
			}

	.triangle {
		right: 0;
		.big {right: 0;}
		.small {right: 0;}
	}
}

// Stats ***********************
#stats {
	padding: 50px 0;
	ul {
		li {
			text-align: center;
			font-family: lato, sans-serif;
			margin: 50px 0;
			dt {
				font-size: 3em;
				font-weight: 300;
				color: $basegreen;
			}

			dd {
				font-size: 1.2em;
				text-transform: uppercase;
				font-weight: 700;
				color: $darkgrey;
			}
		}
	}


}

// Sponsors ********************

#sponsors {
	padding: 100px 0;
	background-color: $lightgrey;
	
	h2 {
		z-index: 5;
		font-weight: 700;
		font-size: 2em;
		margin-bottom: 2em;
		font-family: lato, sans-serif;
		color: $darkgrey;}
	.sponsor {
		margin-top: 5px; margin-bottom: 5px;
		
		h3 {
			color: white;
			font-family: lato;
			text-transform: uppercase;
			padding-top: 40px;
			text-align: center;
			height: 100px;
			}
		}
	.gold {background-color: $gold;}
	.silver {background-color: $silver;}
	.bronze {background-color: $bronze;}
}

// Headings ***********************
h1 {}
h2 {}
h3 {}
h4 {}
h5 {}

// Links **************************
a {}

// Descriptions *******************
dd {}
dt {}


